.heading {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    padding-bottom: 1rem;
    color: gainsboro;
    flex-wrap: wrap;
}
#resources{
    border-bottom: 0.2rem darkblue solid;
    color: darkblue;
}

.container {
    margin: 2rem;
    background-color: darkslateblue;
    padding: 2rem;
}

.big-box {
    display: flex;
    justify-content: space-between;
    background:linear-gradient(to right,hsl(180, 77%, 52%),hsl(207, 83%, 50%));
    border-radius: 1rem;
    padding: 2%;
    align-self: center;
    flex-wrap: wrap;
}
h3{
    margin-top: 0;
}
#img-1 {
    width: 50%;
    height: 7rem;
    border-radius: 0.5rem;
}

.resources, .developers, .img-and-info{
    flex-grow: 3;
    padding: 1rem;
}
.big-box hr{
    margin: 3%;
}
#docs{
    border-radius: 1rem 1rem 1rem 1rem;
    background-color: rgba(255, 255, 255, 0.5);
}
.dev-elem{
    padding: 0.5rem;
    padding-left: 1rem;
}